{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["**/*.yml", "**/*.yaml"],
      "options": { "singleQuote": false, "printWidth": 120 }
    }
  ]
}
