{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        "**/package.json",
        "**/.prettierrc",
        "**/*.config.js",
        "**/jsconfig.json",
        "**/tsconfig*.json"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
